:root {
  --main-width: 70vh;
  --grid: 16;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --dark:rgb(44, 44, 44);
  --shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(231, 231, 231);
  color: var(--dark)
}
.max {
  max-width: var(--main-width);
  margin: 0 auto;
}
button {
  padding: 0.8em 1.6em;
  border: 2px solid var(--dark);
  border-radius: 6px;
  background: none;
  transition: all ease-in-out .3s;
}
button:hover {
  background-color: var(--dark);
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(var(--grid), 1fr);
  grid-template-rows: repeat(var(--grid), 1fr);
  flex-wrap: wrap;
  width: var(--main-width);
  height: var(--main-width);
  margin: auto;
  margin-top: 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: var(--shadow)
}
.block {
  display: block;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;justify-content: space-between;
  margin: 2em 0;
  align-items: center;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
